# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: neuralripper
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: nexcast-lambda
# "service" is the name of this project. This will also be added to your AWS resource names.
service: NexCast

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  environment:
    DB_HOST: ${env:DB_HOST}
    DB_NAME: ${env:DB_NAME}
    DB_USER: ${env:DB_USER}
    DB_PASSWORD: ${env:DB_PASSWORD}
    DB_PORT: ${env:DB_PORT, '5432'}
    COGNITO_USER_POOL_ID: ${env:COGNITO_USER_POOL_ID}
    COGNITO_CLIENT_ID: ${env:COGNITO_CLIENT_ID}
    S3_BUCKET_NAME: ${env:S3_BUCKET_NAME}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - cognito-idp:*
          Resource: "*"
        - Effect: Allow
          Action:
            - s3:PutObject
            - s3:GetObject
            - s3:DeleteObject
          Resource: "arn:aws:s3:::${env:S3_BUCKET_NAME}/*"

functions:
  health:
    handler: functions/health.handler
    events:
      - httpApi:
          path: /health
          method: get
          cors: true

  auth:
    handler: functions/auth.handler
    events:
      - httpApi:
          path: /auth/{proxy+}
          method: any
          cors: true

  session:
    handler: functions/session.handler
    events:
      - httpApi:
          path: /session/{proxy+}
          method: any
          cors: true
          authorizer:
            name: cognitoAuthorizer
            type: jwt
            identitySource: $request.header.Authorization
            issuerUrl: https://cognito-idp.us-east-1.amazonaws.com/${env:COGNITO_USER_POOL_ID}
            audience:
              - ${env:COGNITO_CLIENT_ID}

  frame:
    handler: functions/frame.handler
    timeout: 30
    events:
      - httpApi:
          path: /frame/{proxy+}
          method: any
          cors: true
          authorizer:
            name: cognitoAuthorizer
            type: jwt
            identitySource: $request.header.Authorization
            issuerUrl: https://cognito-idp.us-east-1.amazonaws.com/${env:COGNITO_USER_POOL_ID}
            audience:
              - ${env:COGNITO_CLIENT_ID}

  history:
    handler: functions/history.handler
    events:
      - httpApi:
          path: /history/{proxy+}
          method: any
          cors: true
          authorizer:
            name: cognitoAuthorizer
            type: jwt
            identitySource: $request.header.Authorization
            issuerUrl: https://cognito-idp.us-east-1.amazonaws.com/${env:COGNITO_USER_POOL_ID}
            audience:
              - ${env:COGNITO_CLIENT_ID}

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true
    layer: true
